/* Variables */
$light-gray: #fafafa;
$light-gray-1: #F4F4F4;
$gray: #F2F2F2;


.logo-container{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.logo-amarante{
  max-width: 90%;
}

.main-nav__link a{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $light-gray;
  color: black!important;
  &:hover{
    background-color: $light-gray-1;
  }
}
.navbar{
  background-color: $light-gray;
}
.off-canvas{
  background-color: $light-gray;
  a {
    color: black!important;
  }
}

.subtitle-section{
  background-color: $gray;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtitle{
  font-weight: 600;
  color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}